

.navbar{
	min-height: 80px;
}

.navbar a{
    font-size: 1.4em !important;
    }

.navbar li{
    padding-right:5px;
   }

button .img-btn{
	display: inline-block;
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}

div .form-group input{
	border: 1px solid gray;
}

div .form-group input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 221, 92, 0.92);
}


